Nom : <input value={{currentUser.name}} class="form-control" id="name" placeholder="Nom" required/><br>
Prénom : <input value={{currentUser.surname}} class="form-control" id="surname" placeholder="Prenom" required/><br>
E-mail : <input value={{currentUser.email}} type="email" class="form-control" id="email" placeholder="email" required/><br>
<button style="float:right;" class="btn btn-default" ng-click="edit();">Modifier l'utilisateur</button>
<a style="float:right;margin-right:5px;" class="btn btn-default" ng-href="/#/users">Retour à la liste des utilisateurs</a>
