<h1>Bienvenue sur le gestionaire d'utilisateur.</h1>

<p>Vous pouvez ajouter, supprimmer,mettre à jour des utilisateurs. Vous pouvez aussi chercher un utilisateur en particulier.</p>

<p>Vous pouvez voir si dessous les interactions que vous pouvez effectuer.</p>


<h2 style="text-decoration:underline;">Gestion des utilisateurs</h2>

<h3 style="text-decoration:underline;">Ajout d'un utilisateur</h3>
<p>Pour ajouter un utilisateur il vous suffit de cliquer sur Utilisateurs qui se situe sur la barre supérieure. Ensuite cliquez le bouton "Ajouter un utilisateur", et il ne vous reste plus qu'a cliquer sur le bouton ajouter l'utilisateur lorsque vous avez remplis les champs.</p>

<h3 style="text-decoration:underline;">Suppression d'un utilisateur</h3>
<p>Pour supprimmer un utilisateur il vous suffit de cliquer sur Utilisateurs qui se situe sur la barre supérieure. Ensuite vous avez la liste des utilisateurs. Vous avez un champs de recherche qui vous permet de rechercher un utilisateur en particulier. Il vous suffit de cliquer sur la croix verte à droite du nom,prenom de l'utilisateur que vous voullez supprimmer. On vous demandera si vous voullez vraiment supprimmer l'utilisateur selectionné. Puis si vous valider il sera supprimmé.</p>

<h3 style="text-decoration:underline;">Modification d'un utilisateur</h3>
<p>Pour modifier un utilisateur il vous suffit de cliquer sur un utilisateur dans la liste se qui vous menera vers la page de l'utilisateur. Si vous voullez modifier l'utilisateur, il vous suffit de cliquer sur le bouton "Modifier" en bas à droite. Ici vous pourrez modifier le nom, prénom et le mail de l'utilisateur. Lorsque la modification est terminé il faut appuyer sur le bouton "Modifier l'utilisateur" en bas à droite.</p>

<h2 style="text-decoration:underline;">Gestion des projets</h2>

<h3 style="text-decoration:underline;">Ajout d'un projet</h3>
<p>Pour ajouter un projet il vous suffit de cliquer sur Projets qui se situe sur la barre supérieure. Ensuite cliquez le bouton "Ajouter un projet", et il ne vous reste plus qu'à cliquer sur le bouton "Ajouter le Projet" lorsque vous avez remplis les champs.</p>

<h3 style="text-decoration:underline;">Suppression d'un projet</h3>
<p>Pour supprimmer un projet il vous suffit de cliquer sur Projets qui se situe sur la barre supérieure. Ensuite vous avez la liste des projets. Vous avez un champs de recherche qui vous permet de rechercher un projet en particulier. Il vous suffit de cliquer sur la croix verte à droite du du projet à supprimer. On vous demandera si vous voullez vraiment supprimmer le projet selectionné. Puis si vous valider il sera supprimmé.</p>

<h3 style="text-decoration:underline;">Modification d'un projet</h3>
<p>Pour modifier un projet il vous suffit de cliquer sur un projet dans la liste des projets se qui vous menera vers la page du projet. Si vous voullez modifier le projet, il vous suffit de cliquer sur le bouton "Modifier" en bas à droite. Ici vous pourrez modifier le titre, la description et l'année du projet. Lorsque la modification est terminée il faut appuyer sur le bouton "Modifier le Projet" en bas à droite.</p>

<h2 style="text-decoration:underline;">Gestion des roles</h2>

<h3 style="text-decoration:underline;">Ajout d'un role (Ajout d'un utilisateur dans un projet)</h3>
<p>Pour ajouter un role, il vous suffit de vous rendre sur la page du projet où l'on veut ajouter un utilisateur. Ensuite il vous suffit de cliquer sur le bouton "Ajouter un utilisateur", et ensuite il vous faut remplir le nom du role et selectionner dans la liste deroulante l'utilisateur à ajouter. Puis enfin appuyer sur le bouton "Ajouter l'utilisateur au projet". Vous pouvez mettre plusieurs fois la même personne avec des roles differents dans un projet. Exemple: une personne peut etre chef du projet et aussi developpeur.</p>

<h3 style="text-decoration:underline;">Suppression d'un role (Suppression d'un utilisateur dans un projet)</h3>
<p>Pour supprimer un role, il vous suffit de vous rendre sur la page d'un projet, vous verrez la lsite des utilisateurs dans le projet avec le nom du role. Il vous suffit de cliquer sur la croix verte à droite de l'utilisateur à supprimmer. On vous demandera si vous voullez vraiment le supprimmer, puis si vous valider cela supprimera l'utilisateur dans le projet(donc le role qu'il avait dans le projet).</p>

<script>
  setActiveNav("#home");
</script>
